<!DOCTYPE html>
<html>
  <head>
    <title>youtube archieve</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% for(var streamer of streamerIds){ %>
    <h2><%= streamer %></h2>
    <button style="margin-left: 30px" onclick="onClickDelete(streamer)">
      삭제
    </button>
    <% for(var vidId in info[streamer]) { var vidInfo = info[streamer][vidId] %>
    <h3><%= vidId %></h3>
    <br />
    <span>제목: <%= vidInfo.title %></span>
    <br />
    <span>게임: <%= vidInfo.game %></span>
    <br />
    <span>화질: <%= vidInfo.quality %></span>
    <br />
    <span>상태: <%= statusMessage[vidInfo.status]%></span>
    <br /><br />
    <% } }%>
    <h2>스트리머</h2>
    <input type="text" id="addStreamer" value="" />
    <button onclick="onClickAdd()">추가</button>
    <span>error count: <%= errorCount%></span>
    <br />
    <% const utc = resetTime.getTime() + resetTime.getTimezoneOffset() * 60 *
    1000; const KR_TIME_DIFF = 9 * 60 * 60 * 1000; const kr_curr = new Date(utc
    + KR_TIME_DIFF); %>
    <span>유튜브 리셋 시간: <%= kr_curr.toLocaleString()%></span>
    <br />
    <input type="text" id="exceptGames" value="<%= exceptGames%>" />
    <button onclick="onClickHandler()">변경 저장</button>
  </body>
  <script>
    const option = {
      method: "POST",
      body: "",
      headers: {
        "Content-Type": "application/json",
      },
    };

    async function onClickAdd() {
      const addedStreamer = document.getElementById("addStreamer").value;
      option.body = JSON.stringify({ addedStreamer });
      const response = await fetch(SERVER_ADDRESS + "/add_streamer", option);
      if (response.status === 200) {
        alert("성공");
        location.reload();
      } else {
        alert("오류 발생");
      }
    }

    async function onClickHandler() {
      const exceptGames = document.getElementById("exceptGames").value;
      option.body = JSON.stringify({ exceptGames });
      const response = await fetch(SERVER_ADDRESS + "/except_games", option);
      if (response.status === 200) {
        alert("성공");
      } else {
        alert("오류 발생");
      }
    }

    async function onClickDelete(streamer) {
      option.body = JSON.stringify({ streamer });
      const response = await fetch(SERVER_ADDRESS + "/delete_streamer", option);
      if (response.status === 200) {
        alert("성공");
        location.reload();
      } else {
        alert("오류 발생");
      }
    }
  </script>
</html>
